extends layout

block content
  h1= title
  main.page
    p
      | Welcome to #{title}.
    p
      | You might have access this mock server with the wrong port.
      | Try <a href='#{clientAppURL}'>this link</a> to get back to the UI please.
